/* GENERAL */
*{
    padding: 0;
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-family: "Montserrat", "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #fff;
}
